[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kumarvenkatesan
[access "refs/for/refs/*"]
	read = group user/kumarvenkatesan
	push = group user/kumarvenkatesan
	label-Code-Review = -2..+2 group user/kumarvenkatesan
	label-Verified = -1..+1 group user/kumarvenkatesan
	rebase = group user/kumarvenkatesan
	removeReviewer = group user/kumarvenkatesan
	submit = group user/kumarvenkatesan
[access "refs/heads/*"]
	read = group user/kumarvenkatesan
	create = group user/kumarvenkatesan
	push = +force group user/kumarvenkatesan
	pushMerge = group user/kumarvenkatesan
[access "refs/tags/*"]
	push = group user/kumarvenkatesan
	push = +force group user/kumarvenkatesan
